// ==========================================================================
// Vlaanderen UI -- InfoTile
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

// ==========================================================================
// Components
// ==========================================================================
@import "vl-ui-info-tile/src/scss/info-tile";

.vl-info-tile__header__subtitle, .vl-accordion__content {
    margin-left: 2rem;
}

#title vl-pill {
    float: right;
    margin-left: 3rem;
}